body {
    background-color: orange;
    margin-left: 10%;
    margin-right: 10%;
}

#question-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

#question-container {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
}

#reveal-answer-container {
    display: flex;
    justify-content: center;
}

#reveal-answer-btn {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(113, 90, 240);
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#reveal-answer-btn:hover {
    background-color: rgb(136, 117, 241);
}