body {
    font-family: Arial, Helvetica, sans-serif;
}

table.questions-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table.questions-table, td, table.questions-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table.questions-table tr:nth-child(even){background-color: #f2f2f2;}
  
table.questions-table tr:hover {background-color: #ddd;}
  
table.questions-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffa435;
    color: white;
}