body {
    font-family: Arial, Helvetica, sans-serif;
}

table.questions-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table.questions-table, td, table.questions-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table.questions-table tr:nth-child(even){background-color: #f2f2f2;}
  
table.questions-table tr:hover {background-color: #ddd;}
  
table.questions-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffa435;
    color: white;
}

#question-create-btn {
	background-color: #2664e8;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:17px;
	padding:18px 31px;
	text-decoration:none;
    border: none;
}
#question-create-btn:hover {
	background-color:#4b7de8;
}
#question-create-btn:active {
	position:relative;
	top:1px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
        